<span>x:&nbsp;</span> {{number-input value=command.x onchange=onchange}}&ensp;
<span>y:&nbsp;</span> {{number-input value=command.y onchange=onchange}}&ensp;
<span>x1:&nbsp;</span> {{number-input value=command.x1 onchange=onchange}}&ensp;
<span>y1:&nbsp;</span> {{number-input value=command.y1 onchange=onchange}}&ensp;
<span>x2:&nbsp;</span> {{number-input value=command.x2 onchange=onchange}}&ensp;
<span>y2:&nbsp;</span> {{number-input value=command.y2 onchange=onchange}}
